@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
}
:root {
  --purple: #814096;
  --pink: #f83292;
  --gradient: linear-gradient(90deg, var(--purple), var(--pink));
}
*::selection {
  background-color: var(--pink);
  color: white;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: #f9f9f9;
}
.heading {
  text-align: center;
  /* background: var(--gradient); */
  /* color: transparent; */
  --webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  background: var(--gradient);
  font-size: 1.7rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.btn:hover {
  transform: scale(1.1);
}
section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
header .logo {
  font-size: 2rem;
  color: var(--purple);
}
header .logo span {
  color: var(--pink);
}

header .navbar a {
  font-size: 1.7rem;
  margin-left: 2rem;
  color: var(--purple);
}

header .navbar a:hover {
  color: var(--pink);
}

header input {
  display: none;
}

header label {
  color: var(--purple);
  font-size: 3rem;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
header .navbar {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(images/home-bg-img.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .img img {
  width: 40vw;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}
.home .content h3 {
  font-size: 5.5rem;
  color: #333;
  text-transform: uppercase;
}
.home .content h3 span {
  color: var(--pink);
}
.home .content p {
  font-size: 1.6rem;
  color: #333;
  padding: 1rem 0;
}
.features .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.features .box-container .box {
  flex: 1 1 30rem;
  background: white;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: 0.2s linear;
}

.features .box-container .box img {
  height: 15rem;
}
.features .box-container .box h3 {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}
.features .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.about {
  background: url(images/about-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.about .column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .column .image {
  flex: 1 1 40rem;
}
.about .column .content {
  flex: 1 1 40rem;
}
.about .column .image img {
  width: 100%;
  animation: float 3s linear infinite;
}
.about .column .content h3 {
  font-size: 3rem;
  color: #666;
}
.about .column .content p {
  font-size: 1.5rem;
  padding: 0.2rem;
  color: #333;
}

/* media queries */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  section {
    padding: 0 3%;
    padding-top: 7.5rem;
  }
}
@media (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }
  header label {
    visibility: visible;
    opacity: 1;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    width: 100%;
  }
  header .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
    text-align: center;
  }
  header input:checked ~ .navbar {
    transform: scaleY(1);
    opacity: 1;
  }
  header input:checked ~ label::before {
    content: "\f00d";
  }
  .home {
    flex-flow: column-reverse;
  }
  .home .img img {
    width: 100%;
  }
  .home .content h3 {
    font-size: 3.6rem;
  }
  .home .content p {
    font-size: 1.6rem;
  }
  .about {
    background-position: right;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .column .content .buttons a {
    width: 100%;
    text-align: center;
  }
}
